.row {
	margin:0px;
}

.homeNav {

}

nav {
    background: #7600ff;
    background: -moz-linear-gradient(left, #7600ff 0%, #9f5df0 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #7600ff), color-stop(100%, #9f5df0));
    background: -webkit-linear-gradient(left, #7600ff 0%, #9f5df0 100%);
    background: -o-linear-gradient(left, #7600ff 0%, #9f5df0 100%);
    background: -ms-linear-gradient(left, #7600ff 0%, #9f5df0 100%);
    background: linear-gradient(to right, #7600ff 0%, #9f5df0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7600ff', endColorstr='#9f5df0', GradientType=1 );
	color:#fff;
}

.nav-links {
    display: inline-block;
    float: right;
    position: relative;
    top: 7px;
}

.nav-links a:hover, .nav-logo:hover {
	color: #e9e9e9;
	text-decoration: none;
}

.btn {
	font-size: 14px;
}

nav a {
    color: #fff;
}

.nav-logo {
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none !important;
    color: #fff !important;
}

input, label {
    margin: auto;
    border:1px solid #d6d6d6;;
    width: 20%;
    margin: 0px 20px;
    padding: 9px 0px;
    font-size: 18px;
    text-shadow: none;
    height: 42px;
    text-align: center;
}

input[type="submit"] {
    color: #fff;
    background-color: #7625FB;
    border: none;
    width: 20%;
    display: block;
    margin: auto;
    margin-top: 60px;
    border-radius: 160px;
    cursor: pointer;
}

input#signin-input {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

form {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

label {
    color: lightgray;
    background: #fff;
    border: 0;
}

#home-text  {
    position: relative;
	top: 22vh;
}

.Auth-header {
    text-align: center;
    position: relative;
    top: 130px;
}

.Select.Select--single.is-searchable {
    margin: 10px 0;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

textarea:focus, input:focus{
    outline: none;
}

.student-id-input {
    display: none;
}

.assignment-id-input {
    display: none;
}

.assignment-grade-form {
    margin: 0px;
    text-align: left;
}

.assignment-grade-form input {
    margin: 20px 0px 0px 0px;
    border: none;
}
.assignment-name {
    font-size: 18px;
}

#profile-photo {
    width: 250px;
}

#home-hero {
    background: #7600ff;
    background: -moz-linear-gradient(left, #7600ff 0%, #9f5df0 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #7600ff), color-stop(100%, #9f5df0));
    background: -webkit-linear-gradient(left, #7600ff 0%, #9f5df0 100%);
    background: -o-linear-gradient(left, #7600ff 0%, #9f5df0 100%);
    background: -ms-linear-gradient(left, #7600ff 0%, #9f5df0 100%);
    background: linear-gradient(to right, #7600ff 0%, #9f5df0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7600ff', endColorstr='#9f5df0', GradientType=1 );
    height: 100vh;
}

.home-headline {
    font-size: 70px;
    color: #fff;
    text-align: right;
}

.hero-buttons {
    background-color: transparent;
    color: #fff;
    padding: 10px 35px;
    border: 1px solid #fff;
}

.hero-buttons:hover {
    background-color: #fff !important;
    color: #7625FB !important;
    border: 1px solid #fff;
}

#hero-sighnup, #mobile-sighnup {
    font-size: 18px;
    color: #fff;
}

#slogan-row {
    padding-right: 5%;
}

#hero-sighnup {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
}

#hero-buttons-row {
    position: relative;
    top: 125px;
}

.btn{
    border-radius: 8px;
}

.button-group {
    border: 1px solid #fff;
    border-radius: 5px;
}

.uploadForm button {
    background: #7600ff;
    border: 1px solid #e5e5e5;
    border-radius: 180px;
    padding: 2.5px 15px;
    margin-bottom: 15px;
    color: #fff;
}

#mobile-view {
    display: none;
}

#mobile-headline {
    text-align: center;
    font-size: 50px;
    color:#fff;
}

#mobile-buttons, .upload-form button {
    width: 242.28px;
    margin: auto;
    margin-top: 20px;
    display: block;
}

#mobile-sighnup {
    text-align: center ;
}

#mobilenav {
    display: none;
}

div#mobile-view {
    top: 25vh;
    position: relative;
}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    z-index: 1000;
    top:20px;
    height:40px;
    width: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1000;
    border:none;
    right: 0;
    margin-top:10px;
}

.dropdown-content a {
    color: #7625FB;
}

#mobile-menu-text {
    right: 5px;
    position: relative;
    font-size: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1000;
}

#calendar-container {
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 15px 20px;
    margin-bottom: 10px;
}

#class-event-submit {
    height: 30px;
    font-size: 12px;
}

.assignment-grade-form button {
    background-color: #7625FB;
    border-radius: 180px;
    border: none;
    color: #fff;
    padding: 4px 8px;
}

.assignmentForm button {
    margin: 20px 19px;
    background-color: #7625FB;
    color: #fff;
    width: 100px;
    border-radius: 180px;
}
  
form.assignment-grade-form input {
    width: 19.5%;
}

@media only screen and (max-width:767px) { 

    #navbar {
        display: none;
    }

    #mobile-view {
        display: block;
    }
    #desktop-view {
        display: none;
    }

    #mobilenav {
        display: block;
    }
    .desktop-only {
        display: none;
    }
}

.navbar {
     border-radius: 0px; 
}

#home-nav-links {
    margin-right:15px;
}

.teacher-dashboard-nav {
    display: inline;
    float: right;
    top: 8px;
    position: relative;
}

.home-container {
    padding: 0;
    margin:0;
    width: 100% !important;
}

#after-hero {
    height: 100vh;
    background-image: url(https://s3.amazonaws.com/teach.in123454321/teachin-desk-white-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

#after-hero h2, #info-section h2, #info-section h2{
    color: #7625FB;
    font-size: 60px;
    margin-top: 50px;
}

#info-section h2 {
    margin-bottom: 50px;
}

.feature-row {
    margin: 75px 0px;
}

.feature-row p {
    color: #95989A;
}

.feature-row h3 {
    font-size: 40px;
    color:#95989A;
    font-weight: 500;
    margin-bottom:20px;
}

.feature-text {
    padding: 0px 40px;
}

.feature-row img {
    width: 350px;
}

#info-section p {
    line-height: 1.8;
}

#after-hero h3{
    color:#95989A;
    font-weight: 300;
    font-size: 25px;
}

.teacher-dashboard-nav:hover a {
    color:#fff !important;
}

.after-feature a {
    margin: auto;
    font-size: 25px;
    background: #fff;
    padding: 10px 40px;
    border-radius: 180px;
    color: #7625FB;
    border: #7625FB 2.5px solid;
    top: 42%;
    position: relative;
    text-decoration: none;
}

#home-bottom-button-container{
    height: 400px;
}

#home-desk-image {
    height: 400px;
    background: url('https://s3.amazonaws.com/teach.in123454321/teach.jpg');
}

.dev-team {
    background-color: #EFEFEF;
    padding: 0px 125px;
}

.dev-team h2 {
    margin:50px 0px;
}

.team-name {
    font-size: 20px;
    margin: 50px 0;
}

.footer {
    height: 200px;
    background-color: #7625FB;
}

h1,h2,h3 {
    font-family: 'Raleway', sans-serif;
}

p, a, input {
    font-family: 'Helvetica'
}

.dev-team img {
    display: block;
    margin: auto;
}