.row {
	margin:0px;
}

nav {
	background-color:#7625FB;
	border-radius:0px !important;
	color:#fff;
}

#nav-links {
    display: inline-block;
    float: right;
    
}

#nav-links a:hover, #nav-logo:hover {
	color: #e9e9e9;
	text-decoration: none;
}

.btn {
	font-size: 14px;
}

nav a {
    color: #fff;
}

#nav-logo {
    margin-top: 5px;
    font-weight: 700;
    display: inline-block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

input, label {
    margin: auto;
    border:1px solid #d6d6d6;;
    width: 20%;
    margin: 0px 20px;
    padding: 9px 0px;
    font-size: 18px;
    text-shadow: none;
    height: 42px;
    text-align: center;
}

input[type="submit"] {
    color: #fff;
    background-color: #7625FB;
    border: none;
    width: 20%;
    display: block;
    margin: auto;
    margin-top: 60px;
    border-radius: 160px;
    cursor: pointer;
}

input#signin-input {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

form {
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 200px;
}

label {
    color: lightgray;
    background: #fff;
    border: 0;
}

#home-text  {
	text-align: center;
	margin-top: 200px;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

textarea:focus, input:focus{
    outline: none;
}