/* 

Calendar Styling 

*/

.rbc-active {
	box-shadow: none !important;
	background-color: #fff !important;
	border-color: #7600FF !important;
}

.rbc-event {
	background-color: #7600FF !important;
	border-color: #610a7e !important;
}

.rbc-event-content {
	font-size: 10px;
}

.rbc-selected {
	background-color: #7600FF;
}

.rbc-date-cell {
	font-size: 10px;
}

.rbc-month-view {
	border-radius: 12px !important;
}

.rbc-toolbar {
	border-radius: 12px !important;
}

a.rbc-show-more {
	color: #949494;
	font-size: 10px;
}

.rbc-overlay {
	position: absolute;
	z-index: 5;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
	padding: 10px;
}

ul {
	padding-left: 0px;
}

li {
	list-style: none;
}
/*

Event Form Styling

*/

.eventForm {
	margin: 0px;
	width: 100%;
	font-size: 10px;
}

.eventForm input {
	margin-right: 2px;
	font-size: 10px;
	padding: 2px;
	height: 25px;
}

/*

Assignment Form Styling

*/

.assignmentForm input {
	width: 100%;
}

.assignmentForm form {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

